<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
  <div class = "high_header">
  <% if user_signed_in? %>
   <ul class="login_list">
     <li><%= link_to current_user.nickname, user_path(current_user.id), class: "login_item"  %></li>
     <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "login_item"  %></li>
   </ul>
  <% else %>
   <ul class="login_list">
     <li><%= link_to "会員登録",  new_user_registration_path, class:"login_item" %></li>
     <li><%= link_to "ログイン",  new_user_session_path, class:"login_item" %></li>
   </ul>
  <% end %>
  </div>
</header>
<div class="search">
  <%= link_to (image_tag 'icon.png'), root_path, class:"icon" ,size:"320x240" %>
  <form action="cgi-bin/example.cgi" method="post">
    <input type="search" name="search" class="search_box" placeholder="キーワードを入力">
    <input type="submit" name="submit" class="search_sub" value="検索">
  </div>
  </form>
</div>