<%= render "shared/header" %>

<div class="content-container"> <!--画面全体-->
  <div class="content-main"><!--歌情報部分-->
    <div class="song_show_content">
      <h1 class="song-title">
        <%= @song.song_name %>
        <div class="song_review-item">
          <%= link_to "この曲のレビューを書く", new_song_review_path(@song.id) ,class:"review-visit" %>
        </div>
      </h1>
      <div class="song-img-content-top">
        <div class="song-img-content">
          <%= link_to (image_tag @song.song_image , class:"img-size_song-show"), song_path(@song.id)  %>
        </div>
        <div class="song-composer-content">
          <div class="song-composer-content_title">作曲者</div>
          <%= @song.song_composer%>
          <div class="play_video">
            <%= link_to (image_tag '764.png',class:"play_img"), "https://www.youtube.com/watch?v=#{@song.song_url}" %>
            <div class="play_video_content">
              <%= "Youtubeで再生する" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mypage-under">
      <h1 class="mypage-under_title">
        <%= @song.song_name %><%= "に投稿されたレビュー"%>
      </h1>
      <% @reviews.each do |review| %>
      <div class="r-content-item">
        <div class="r-content-item-top">
          <div class="content-song">
            <div class="review-song">
              <%= link_to (image_tag @song.song_image , class:"img-size_review-index", size:"200x150"), song_path(@song.id)  %>
            </div>
          </div>
          <div class="review-item">
            <%= link_to "レビュー", new_song_review_path(review.song.id) ,class:"review-visit" %>
          </div>
        </div>
        <div class="r-content-item-under">
          <div class="review-right">
            <div class="rigth-top">
              <div class="review-usericon">
                <% if review.user.image_name.attached? %>
                  <%= image_tag review.user.image_name %>
                <% end %>
              </div>
              <div class="review-username">
              <%= link_to review.user.nickname, user_path(review.user.id) %>
              </div>
              <div class="review-star">
                <div id="star-rate-<%= review.id %>"></div>
              </div>
              <script>
                $('#star-rate-<%= review.id %>').raty({
                  size: 50,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= review.rate %>,
                });
              </script> 
            </div>
          </div>
          <div class="review-content">
            <div class="review-text">
            <%= review.review_text %>
            </div>
            <% if current_user == review.user %>
            <%= link_to (image_tag 'delete.png', class: "delete_img"), review_path(review.id), method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= paginate @reviews %>
  </div>
</div>