<!DOCTYPE html>
<html>
  <head>
    <title>Vocaview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap CSS読み込みコード-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="footer-links__inner">
      <div class="footer-links__block">
        <ul class="footer-links__items">
          <li class="footer-links__item">
            <a href="/" class="footer-links__link">トップページへ</a>
            <a href="/reviews/search" class="footer-links__link">全ての楽曲を見る</a>
          </li>
        </ul>
      </div>
      <div class="footer-links__block">
        <ul class="footer-links__items">
          <li class="footer-links__item">
            <a href="/" class="footer-links__link">話題の楽曲一覧</a>
            <a href="/" class="footer-links__link">最新のレビュー</a>
          </li>
        </ul>
      </div>
      <div class="footer-links__block">
        <ul class="footer-links__items">
          <li class="footer-links__item">
            <a href="/" class="footer-links__link">新しい楽曲一覧</a>
            <a href="/" class="footer-links__link">人気の楽曲一覧</a>
          </li>
        </ul>
      </div>
      <div class="footer-links__block">
        <ul class="footer-links__items">
          <li class="footer-links__item">
            <a href="/" class="footer-links__link">お問い合わせ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <p>
        Copyright Voccaview 2021.
      </p>
    </div>
  </footer>
</html>
